<h1>Редактировать книгу</h1>

<form method="POST" action="{{ url_for('update_book_details', book_id=book[0]) }}">
    <label>Название</label>
    <input type="text" name="title" value="{{ book[1] }}" required><br>

    <label>Автор</label>
    <input type="text" name="author" value="{{ book[2] }}" required><br>

    <label>Год</label>
    <input type="number" name="year" value="{{ book[3] }}" required><br>

    <label>Описание</label>
    <textarea name="description">{{ book[4] }}</textarea><br>

    <button type="submit">Сохранить</button>
</form>